#table {
    height: 100vh;
    position: fixed;
    top: 0;
}

#table tbody td {
    vertical-align: middle;
    text-align: center;
}

body,
#table *, #table-stage * {
    background: #222;
}
th {
    height: 6vh;
    text-align: center;
    font-weight: bold;
    color: yellow !important;
    font-size: 2vw;
    border-width: 2;
}

td {
    font-size: 6vw;
    color: white !important;
    font-weight: bold;
    border-width: 2;
}
#table-stage th
{
    height: auto;
    font-size: 1rem;

}
#table-stage td
{
    font-size: 2rem;
    text-align: center;
}
#header th {
    background: #fff;
    color: #222 !important;
    font-size: 2rem;
}

#OK {
    height: 100%;
    vertical-align: middle;
    font-size: 10vw;
}
#OK.ng 
{
    color: red !important;
}
#OK.ok 
{
    color: greenyellow !important;
}
.color-change[data-process < '50'] {
    color: red;
}

.color-change[data-process >= '50'] {
    color: yellow;
}
#wg
{
    display: block;
    width: 100%;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}
.grid-fluid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    width: 100vw;
    height: 100vh;
  }
  .grid-fluid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100vw;
    height: 100vh;
  }
.grid-item video
{
    max-height: 100%;
}
.grid-item{
    justify-content: center;
    display: flex;
}
  